* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  height: 100%;
}

a:visited {
  color: #fefefe;
}

h4 {
  color: #1560FB;
}

li {
  line-height: 1.5;
}

.mainBox {
  margin-top: 0px;
}

.topBox {
  background-color: #1560FB;
}

.bottomBox .fa-arrow-right {
  margin-left: 15px;
  color: #1560FB;
}

.selfie2 {
  display: flex;
  justify-content: center;
  align: center;
  padding-top: 50px;
}

.selfie2 .jpg2 {
  border-radius: 50% 50% 50% 50%;
  padding: 4px;
  width: 300px;
  height: 300px;
}

.howdie2 {
  text-align: center;
  color: #fefefe;
}

.whoami2 {
  color: white;
  text-align: center;
}

.whoami2 p {
  font-size: 30px;
}

.coffee2 {
  display: flex;
  margin: auto;
  justify-content: center;
  width: 260px;
  border: 2px #fefefe solid;
  color: #fefefe;
  margin-bottom: 40px;
}

.coffeearrow2 {
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.sm {
  margin: 5px;
}

.welcomefooterbox2 {
  display: flex;
  padding-bottom: 30px;
}

.welcomefooter-left2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  flex: 5;
}

.leftlogo2 {
  display: flex;
  flex: 1;
  padding-left: 15px;
}

.leftlogo2 a {
  text-decoration: none;
}

.madein2 {
  margin-left: 10px;
}

.welcomefooter-right2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
  flex: 1;
}

.aboutmebox2 {
  margin: 10px;
}

.aboutmeheader2,
.projectsheader2-2 {
  margin-top: 30px;
}

.projectsbox2 {
  margin: 10px;
}

ul li {
  list-style-type: none;
}

.fa-angle-right {
  margin-right: 10px;
  color: #1560FB;
}

@media screen and (min-width: 750px) {
  .mainBox {
    display: flex;
    flex-direction: row;
  }
  .topBox {
    flex: 1;
  }
  .bottomBox {
    flex: 1;
  }
}

@media screen and (min-width: 750px) and (min-width: 1024px) {
  .aboutmebox2,
  .projectsbox2 {
    display: flex;
  }
  .aboutmeheader2,
  .projectsheader2-2 {
    flex: 1;
    margin-top: 0px;
    margin-left: 30px;
  }
  .aboutmetext2,
  .projectstext2 {
    flex: 3;
    margin-top: 0px;
  }
  .aboutmebox2 {
    margin-top: 0px;
  }
  .aboutmetext2 {
    margin-top: 20px;
  }
}
